.list-content {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 20px;
  margin-top: var(--section-space);
}
/* Start Form Design */
.form form {
  position: sticky;
  top: 10px;
  background-color: #ffb236;
  padding: 10px;
  border-radius: 10px;
  align-items: flex-start;
}
.form form h3 {
  font-size: 22px;
  opacity: .7;
  margin-bottom: 20px;
}
.form .input-control {
  width: 100%;
  margin-bottom: 10px;
}
.form form .label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
  display: block;
}
.form form .input {
  display: block;
  width: 100%;
  background: #fff;
  padding: 10px;
}
.form-options {
  width: 100%;
}
.form form .form-options .label {
  margin-bottom: 14px;
}
.option-control  {
  justify-content: space-between !important;
  margin-bottom: 10px;
}
.form-options .option-label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.form-options .option-label span {
  font-size: 12px;
  font-weight: 400;
}
.form-options input {
  background-color: #fff;
  width: 40px;
  height: 30px;
  border-radius: 4px;
  padding-left: 5px;
}
.form form .button {
  width: 100%;
}
/* End Form Design */
@media(max-width: 991px) {
  .list-content {
    grid-template-columns: 1fr;
  }
  .form form {
    width: 450px;
    max-width: 100%;
    margin: 0 auto;
  }
} 
@media(max-width: 575px) {
  .form form {
    width: 100%;
  }
}